@import '../../scss/variables.scss';
@import '../../scss/inheritance.scss';

.welcome-container {
  @extend %display-flex-center;
  height: 100%;
  flex-direction: column;

  .text-block {
    text-align: center;
  }

  .button-gen {
    margin-top: 0.75rem;
  }
}
