<!-- TODO: Fazer algo que fique melhor visualmente -->

<div class="thanks-container">
	<h1 class="title">Thank you for visiting our website!</h1>

	<div class="paragraphs">
		<p>We hope you found the information helpful and informative. Our team is dedicated to providing high-quality content that is both engaging and relevant to our readers.</p>
		
		<p>We appreciate your support and feedback, and we look forward to continuing to create valuable content for you in the future. If you have any questions or suggestions, please don't hesitate to reach out to us.</p>
		
		<p>Thanks again for visiting, and we hope to see you again soon!"</p>
	</div>
</div>

<!-- TODO: Adicionar redes sociais (opcional) -->
