<div class="form-container">
  <div class="content-box">
    <h1 class="title">Editing post {{ itemData.id }}</h1>

    <fa-icon
      [icon]="undoChangesIcon"
      matTooltip="Undo Changes"
      (click)="revertChanges()"
    ></fa-icon>

    <form #editForm>
      <div class="form-fields">
        <mat-form-field appearance="fill">
          <mat-label>Title</mat-label>
          <input
            type="text"
            matInput
            name="title"
            [(ngModel)]="itemData.title"
          />
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Body</mat-label>
          <textarea
            type="text"
            rows="5"
            matInput
            name="body"
            [(ngModel)]="itemData.body"
          ></textarea>
        </mat-form-field>
      </div>

      <div class="action-buttons">
        <button
          mat-raised-button
          class="discard-changes"
          (click)="discardChanges()"
        >
          Discard changes
        </button>

        <button type="submit" class="button-gen" (click)="applyChanges()">
          Apply changes
        </button>
      </div>
    </form>
  </div>
</div>
