@import "../../../scss/inheritance.scss";
@import "../../../scss/variables.scss";
@import "../../../scss/mixins.scss";

.thanks-container {
  @extend %display-flex-center;
  @extend %background-image;
  height: 100%;

  .thanks-content {
    width: 60vw;
    max-width: 600px;

    .title {
      @include title;
      text-align: center;
    }

    .paragraphs {
      text-align: justify;
      line-height: 2;
      margin-bottom: 2rem;

      p {
        margin-bottom: 1.5rem;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
