@import '../../../scss/inheritance.scss';
@import '../../../scss/mixins.scss';

.thanks-container {
	@extend %display-flex-center;
	flex-direction: column;
	text-align: justify;
	height: 100%;
	width: 60vw;
	margin: auto;

	.title {
		@include title;
	}
}