<div class="wrapper">
  <mat-toolbar>
    <button mat-icon-button (click)="sideMenuToggle(sideMenu)">
      <mat-icon>menu</mat-icon>
    </button>

    <span>Gen Test</span>
  </mat-toolbar>

  <mat-drawer-container>
    <mat-drawer opened="false" mode="over" #sideMenu>
      <mat-list>
        <mat-list-item
          *ngFor="let item of matListItems"
          [routerLink]="[item.router]"
          routerLinkActive="active"
          (click)="sideMenuToggle(sideMenu)"
        >
          {{ item.name }}
        </mat-list-item>
      </mat-list>
    </mat-drawer>

    <mat-drawer-content>
      <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
