@import "../scss/variables.scss";

.wrapper {
  height: 100vh; // TODO: Ajustar para o mobile (opcional)
  display: flex;
  flex-direction: column;

  .mat-toolbar {
    display: flex;
    justify-content: space-between;
    background-color: $main-color;
    color: $white-text;
    padding: 0 2rem 0 1rem;
  }

  .mat-drawer-container {
    flex: 1;

    .mat-drawer {
      background-color: $main-color;
      width: 220px;

      .mat-list-item {
        color: $white-text;
        transition: $transition-default;

        &:hover {
          cursor: pointer;
          background: $main-color-hover;
        }
      }
    }
  }
}
