@import "../scss/variables.scss";

.wrapper {
  height: 100vh; // TODO: Ajustar para o mobile (opcional)
  display: flex;
  flex-direction: column;

  .mat-toolbar {
    background-color: $main-color;
    color: $white;

    span {
      margin-left: 1rem;
    }
  }

  .mat-drawer-container {
    flex: 1;

    .mat-drawer {
      background-color: $main-color;

      .mat-list-item {
        color: $white;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
