@import '../../../scss/inheritance.scss';
@import '../../../scss/mixins.scss';

.welcome-container {
  @extend %display-flex-center;
  height: 100%;
  flex-direction: column;

  .text-block {
    text-align: center;

    .title {
      @include title;
    }
  }

  .button-gen {
    margin-top: 0.75rem;
  }
}
