<!-- TODO: Criar um visual melhor -->
<div class="welcome-container">
  <div class="text-block">
    <h1 class="title">Welcome to my application!</h1>

    Imagem de <a href="https://br.freepik.com/fotos-gratis/arranjo-liso-leigo-de-elementos-de-mesa-com-espaco-de-copia_7738373.htm#query=Study%20background&position=44&from_view=search&track=ais">Freepik</a>

    <div class="paragraphs">
      <p>
        Use the side menu to easily navigate through the app, or jump straight
        to the posts if you prefer.
      </p>
    </div>
  </div>

  <button class="button-gen" (click)="navigateToPosts()">
    Posts page
  </button>
</div>
