<!-- Iterating through data recieved from given URL in get-data service -->
<!-- TODO: Melhorar visual -->
<div class="posts-container">
  <h1 class="title">Posts:</h1>

  <mat-list>
    <mat-card *ngFor="let post of postsDataFromUrl">
      <mat-card-header>
        <mat-card-title appEllipsis>
          {{ post.title }}
        </mat-card-title>

        <button
          mat-icon-button
          (click)="openEditDialog(post)"
          class="edit-button"
        >
          <mat-icon>edit</mat-icon>
        </button>
      </mat-card-header>

      <mat-card-content>
        <p appEllipsis [maxLength]="130">{{ post.body }}</p>
      </mat-card-content>
    </mat-card>
  </mat-list>
</div>
