@import '../../../scss/mixins.scss';
@import '../../../scss/variables.scss';

.posts-container {
  padding: 2rem;

  .title {
    @include title(1.5rem);
  }

  .mat-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.25rem;

    .mat-card {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .mat-card-header {
      position: relative;
      height: 100%;
      display: flex;
      align-items: center;

      .mat-card-title {
        font-size: 1.25rem;
        font-weight: 400;
        padding-top: 1rem;
      }

      .edit-button {
        position: absolute;
        top: -0.75rem;
        right: -0.75rem;

        .mat-icon {
          font-size: 1rem;
          color: $grey-text;

          &:hover {
            color: $main-color-hover;
          }
        }
      }
    }

    .mat-card-content {
      padding: 1rem;
      text-align: justify;
      color: $light-grey-text;
    }
  }
}
