/* You can add global styles to this file, and also import other style files */

@import "./scss/variables.scss";

body,
html {
  height: 100%;
}

body {
  margin: 0;
}

.paragraphs {
  color: $grey-text;
  font-weight: 300;
}

.button-gen {
  background: $main-color;
  color: $white-text;
  border: none;
  border-radius: 0.5rem;
  padding: 0.75rem 4rem;
  font-size: 1rem;
  font-family: $font-family;
  cursor: pointer;

  &:hover {
    background: $main-color-hover;
  }
}
