// Colors
$main-color: #6F64FE;
$white: #FFFFFF;

// Text colors
$black-text: #000000;
$dark-grey-text: #333333;
$grey-text: #666666;
$light-grey-text: #999999;

// Font-family
$font-family: 'Roboto', sans-serif;
