// Colors
$main-color: #6F64FE;
$main-color-hover: #635AE6;

// Text colors
$black-text: #000000;
$dark-grey-text: #333333;
$grey-text: #666666;
$light-grey-text: #999999;
$white-text: #FFFFFF;

// Font-family
$font-family: 'Roboto', sans-serif;
